html{
	min-height: 100%;
	position: relative;
	
}

.bar {
    height: 18px;
    background: green;
}
#wrap{
    width:100%;
    font-family:'Times New Roman',Times,serif;
}

#liste{
    width:100%;
    text-align:center;
}


#dropzone{
    border: 1px solid grey;
	border-radius: 3px;
	position: relative;
	text-align:center;
	margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	padding-bottom: 40px;
	padding-right: 50px;
    width: 90%;
}
