<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Up!</title>
        <link rel="stylesheet" href="static/css/styles.css" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>

    <body onLoad='getComments()'>

<script type="text/javascript" src="static/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="static/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="static/js/jquery.fileupload.js"></script>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script>

<div id="wrap">
<div id="dropzone">
    <h1>DROP FILES HERE</h1> (or use the button)
    <p>allowed extensions: {{ extensions }}</p>
    <p>max. filesize: {{ max_fs|filesizeformat }}</p>
    <p>used: {{ files|sum(attribute='filesize')|filesizeformat }} / {{ sz|filesizeformat }}</p>
    <input id="fileupload" type="file" name="files" data-url="/upload" style="margin: auto;" multiple>
    <div id="progress">
        <div class="bar" style="width: 0%;"></div>
    </div>

    {% with messages = get_flashed_messages() %}
{% if messages %}

    {%- for msg in messages %}
      <div class="alert alert-info">{{ msg }}</div>
    {% endfor -%}

{% endif %}{% endwith %}


</div>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        sequentialUploads: true,
        multiple:true,
            progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        if (progress == 100) {
            window.location.reload();
        }
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    },

    done: function (e, data) {
               window.location.reload();
            },

    error: function (jqXHR, textStatus, errorThrown) {window.location.reload();/* ... */},


    });
});

$('#fileupload').fileupload({
    maxChunkSize: 10000000, // 10 MB
    maxFileSize: {{ max_fs }} // 1GB
});

var dropZone = $('#fileupload').fileupload(
    'option',
    'dropZone'
);

</script>
    <br>
        <div class="row">
        <div class="col-md-8" id="liste" >
            {% for key in files %}

            <p>@{{ key.humantime }}:<a href="{{ url_for('download', filename=key.path) }}">
                {% if key.isImage %}
                    <img src="{{ url_for('download', filename=key.path) }}"
                         width="50" height="50" alt="thumbnail" border="1">
                {% endif %}
            {{ key.filename }}</a> ({{ key.filesize|filesizeformat }})</p>
            {% endfor %}
        </div>
        <div class="col-md-4">

            <h2>COMMENTS</h2>

                {{ cform.csrf_token }}
                Name: {{ cform.username() }}<br>
                Text: {{ cform.text() }}
            <input type="button" value="send" onclick="sendcomment('{{ cform.text.id }}', '{{ cform.username.id }}');">
            <p><span id="posts" ></span></p>
        </div>
        </div>
</div>

<script>
function getComments() {
    $('#posts').empty();
    $.post('/getcomments')
    .done(function(getcomments) {
        var erg=getcomments['all']
        for (var key in erg) {
            $('#posts').append("<p><strong>" + erg[key].username + '</strong> @' + erg[key].time + ": <br>" + erg[key].text + "</p>");
        }
    }).fail(function() {
    })
    ;
}

function sendcomment(comment, username) {
    $('#posts').empty();
    var comment = document.getElementById(comment).value
    var uname = document.getElementById(username).value
    if (uname == ""){
        uname = "Anonymous"
    }
    $.post('/comment', {
        text: comment,
        username: uname
    }).done(function() {
        getComments()
    }).fail(function() {
    })
    ;

}

    </script>

    </body>
</html>

