<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5 / jQuery</title>
        <link rel="stylesheet" href="static/css/styles.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>

<script type="text/javascript" src="static/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="static/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="static/js/jquery.fileupload.js"></script>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload-audio.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload-video.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload-validate.js') }}"></script>
<div id="wrap">
<div id="dropzone">
    <h1>DROP FILES HERE</h1>
    <p>(or use the button)</p>
<input id="fileupload" type="file" name="file" data-url="/upload" multiple>
</div>

<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        sequentialUploads: true
    });
});

var dropZone = $('#fileupload').fileupload(
    'option',
    'dropZone'
);

</script>



        <div id="liste" >
            {% for key in files %}

            <p>@{{ key.time }}:<a href="{{ url_for('download', filename=key.path) }}">
                {% if key.isImage %}
                    <img src="{{ url_for('download', filename=key.path) }}" width="50" height="50" alt="thumbnail" border="1">
                {% endif %}
            {{ key.filename }}</a></p>
            {% endfor %}

        </div>
    </div>

    </body>
</html>

